/* Note: CSS are applied from top to bottom. */
/* Note: This is an external sytlesheet. */

.external-css {
}

/* default styles */
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    width: 90%;
    margin: 1em auto;
    background-color: burlywood;
    text-align:center;  
}

nav {
    text-align: right;  
}

footer {
    border-top: 2px solid var(--light);
    padding-top: .5em;
    & p {
        font-size: 80%;
        text-align: right;
    }
}
: 

a:hover, a:focus {
    text-decoration: none;
    font-size: 110%;
}

body {
    border: 3px solid black;
    margin: 10em;  
}

table {
    background-color: palegoldenrod;
    border: 5px solid black;
    text-align: right;  
}
